<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2><%= @user.profile.first_name %> <%= @user.profile.last_name %></h2>
      <div class="card">
        <div class="card-body">
          <h6>Trail name</h6>
          <p class="card-text"><%= @user.profile.trail_name %></p> 
        </div>
      </div>
    </div>
  </div>
</div>

